* {
    margin: 0;
    
}




.First{
    background-color:black;
}
.First li{
    display:inline-block;

}
.First li a{
    display: block;
    padding: 9px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    color: deeppink;
}
.Second {
    margin-top: 5px;
    top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    color: white;
    background-color: black;
    line-height: 30px;
    padding-left: 15px;

}

.Second .content h2{
    margin-top: 20px;
    color:deeppink;
}

.sidebar{
    margin-left: 25px;
    margin-top: 20px;


}
.sidebar h2 {
    color: deeppink;
}

.sidebar h3{
    color: deeppink;
}

.sidebar h4{
    color: deeppink;
}

.sidebar h5{
    color: deeppink;
}

.sidebar .search{
    border: 1px solid #faf8f8;

}

#footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#footer a{
    text-decoration: none;
    color: black;
}
table tr td {
    color: rgb(71, 67, 63);
    background: rgb(240, 239, 226);
    border-top: 1px solid rgb(255, 255, 255);
}
table tr th {
    color: rgb(227, 221, 215);
    background: rgb(79, 78, 73);
    border-top: 1px solid rgb(255, 255, 255);
}
.image-left, .image-right {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-left img {
    margin-right: 20px;
}

.image-right img {
    margin-left: 20px;
}

.image-center {
    text-align: center;
    margin-bottom: 20px;
}

.image-center img {
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 450px;
}
